.userMenuScrollableNavigation{
  max-height: 30vh;
  padding-bottom: 20px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.userMenuScrollableNavigation::-webkit-scrollbar{
  width: 5px;
  
}

.userMenuScrollableNavigation::-webkit-scrollbar-track {
  background: rgb(17 24 39);
}

/* Handle */
.userMenuScrollableNavigation::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.userMenuScrollableNavigation::-webkit-scrollbar-thumb:hover {
  background: #555;
}